*checkpoint.ipynb
data/original_data_francois/
final_figures/manual_figs/
final_figures/baltic_figs/
final_figures/
old_figures/
manuscript/
MainText_Figs.zip
Supplement_Figs.zip
~$ka_Descriptive_Manuscript.docx
